/* VideoUpload.css */

.container {
  width: 500px; /* Adjust width as needed */
  margin: 0 auto;
  text-align: center;
}

.input-container,
.upload-button,
.upload-message {
  margin-top: 20px;
}

.input-container input[type="file"] {
  display: none;
}

.choose-file-button,
button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.choose-file-button:hover,
button:hover {
  background-color: #45a049;
}

.upload-message p {
  display: block; /* Ensure each message appears on its own line */
}
