/* VideoUpload.css */

.container {
  width: 500px; /* Adjust width as needed */
  margin: 0 auto;
  text-align: center;
}

.input-container,
.upload-button,
.upload-message {
  margin-top: 20px;
}

.input-container input[type="file"] {
  display: none;
}

.choose-file-button,
button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.choose-file-button:hover,
button:hover {
  background-color: #45a049;
}

.upload-message p {
  display: block; /* Ensure each message appears on its own line */
}

.event-strings-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  font-weight: bold;
}

.event-strings-box {
  background-color: #f0f0f0;
  max-height: calc(100vh - 50px); /* Adjust as necessary */
  overflow-y: auto;
  padding: 10px;
  margin-top: 50px; /* Adjust to accommodate the fixed header */
}

.event-strings-box {
  background-color: #f0f0f0; /* Different background color */
  max-height: 600px; /* Maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Add padding for spacing */
  margin-top: 20px; /* Add margin to separate from other content */
}

.event-strings-content {
  /* No specific styles needed here, inherits from event-strings-box */
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progress-bar-fill {
  height: 100%;
  background-color: blue;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

